# === pgAdmin ===
PGADMIN_IMAGETAG=7.5-0
PGADMIN_IMAGE=theanurin/pgadmin4
# Set "yes" to launch pgAdmin server. Use EMPTY value to prevent launch pgAdmin server.
PGADMIN_RUN=yes
# Set "yes" to use a volume to store pgAdmin data. Useful to long runs.
PGADMIN_USEDATAVOLUME=

# === Postgres Server ===
POSTGRES_IMAGETAG=13.12.1
POSTGRES_IMAGE=theanurin/devel.postgres-13
# Set "yes" to use a volume to store Postgres data. Useful to long runs.
POSTGRES_USEDATAVOLUME=
